* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    font-weight: bold;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #6d0202;
    background: rgb(227,7,46);
    background: linear-gradient(90deg, rgba(227,7,46,1) 0%, rgba(2,2,27,1) 46%, rgba(153,108,223,1) 100%); 
}

.calculator {
    width: 450px;
    background: rgb(227,7,46);
    background: linear-gradient(90deg, rgba(227,7,46,1) 0%, rgba(2,2,27,1) 46%, rgba(153,108,223,1) 100%);
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#display {
    width: 100%;
    height: 150px;
    font-size: 4rem;
    color: white;
    padding: 10px;
    border: 1px solid #ffffff;
    background-color: #000000;
    margin-bottom: 15px;
    text-align: right;
    border-radius: 5px;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

button {
    padding: 20px;
    font-size: 1.0rem;
    background-color: #351c1c79;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

.zero {
    grid-column: span 2;
}

button:active {
    background-color: #000000;
}

footer {
    margin-top: 20px;
    text-align: center;
    font-size: 1rem;
    color: #ffffff;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
}


